// Please remember to update src/assets/constants/scss-variables.ts when you changed values!

$primary: #f15151;
$error: #ef5777;
$warning: #ad6500;
$conflictWarning: #ff9900;
$success: #1abc9c;
$light: #f5f8fa;
$medium: #657786;
$dark: #34495e;
$white: #fff;
$black: #000;

$navMenuGray: #f7fafc;
$borderGray: #d8d8d8;
$offWhite: #f8f8f8;
$searchBoxWhite: #f1f1f1;
$veryLightGray: #e5e5e5;
$lightGray: #acacac;
$lightestGray: #e0e0e0;
$viewLabelGray: #7e7e7e80;
$medGray: #737373;
$darkGray: #3c3c3c;
$darkGray2: #404040;
$onboardingGray: #4f4f4f;
$dropdownGray: #7b7d7e;
$hlineGray: #dddddd;

$emGreen: #148481;
$chrisGreen: #105351;
$sangBlue: #4d7d92;
$einBlue: #92c3e6;
$einBlueTransparent: #92c3e61a;

$yuxuanBlue: #0d7acb;
$yuxuanBlueTransparent: #0d7acb1a;
$inactiveGray: #c4c4c4;
$backgroundBlue: #f6fafc;
$primaryGray: #3d3d3d;
$secondaryGray: #858585;
$activeGray: #5b676d;
$disabledGray: #cccccc;
$searchBoxBorderGray: #d4d4d4;
$searchBoxHoverGray: #e9e9e9;

$lightPlaceholderGray: #757575;
$darkPlaceholderGray: #b6b6b6;

$boxShadowGray: #efefef;

$small-breakpoint: 440px;
$small-medium-breakpoint: 600px;
$medium-breakpoint: 878px;
$large-breakpoint: 976px;
$very-large-breakpoint: 1347px;
$larger-breakpoint: 1407px;
$largest-breakpoint: 1455px;

$colored-grabber-width: 1.25rem;
$regular-semester-width: 24rem;
$compact-semester-width: 17.5rem;
