@import "@/assets/scss/_variables.scss";

input {
  background-color: none;
}
.onboarding {
  padding: 1rem;

  &-selectWrapperRow {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  &-bottomWrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-main {
    background: #ffffff;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
  }

  &-cancel {
    cursor: pointer;
    text-align: right;

    &-icon {
      margin: 25px 25px 0 0;
    }
  }

  &-content {
    padding: 1.5rem 2rem 0 2rem;
  }

  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-header {
    // TODO: font-size is 40px on designs, but does not fit
    font-weight: bold;
    font-size: 36px;
    color: #4F4F4F;
  }

  &-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #4F4F4F;
  }

  &-section {
    margin-bottom: 1rem;
  }

  &-inputs {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2rem 2.4rem;

    &--name {
      display: flex;
    }
    &--radioWrapper {
        flex-direction: row;
        display: flex;
    }
    &--radio{
        margin-right: 9px;
        &--radioText{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #757575;
            margin-right: 65px;
        }
    }
  }
  &-subHeader {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    position:relative; 
    top: 24px;
    padding-left:15px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
   
    color: #404040;
    margin-bottom: .75rem;
    &--font{
      background-color: white;
    }
  }
  &-subHeader2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #404040;
    margin-bottom: .75rem;
  }


  &-label {
    font-size: 16px;
    color: #757575;
    margin-bottom: .2rem;

    &--bottom {
        display: flex;
        justify-self: end;
        flex-direction: row;
        &---bold {
            color: black;
            font-weight: bold;
            margin-right: 5px;
        }
    }
    
  }

  &-input {
    font-size: 14px;
    line-height: 17px;
    color: #757575;
    width: 100%;
    height: 1.75rem;

    background-color: white;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
  }

  &-inputWrapper {
    &--name {
      width: calc(100% / 3);

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &--college {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }

  &-addRemoveWrapper {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;

    font-size: 14px;
    line-height: 16px;
  }

  &-add {
    cursor: pointer;
    color: $emGreen;
  }

  &-remove {
    cursor: pointer;
    margin-left: .5rem;
    color: #FF7979
  }

  &-bottom {
      
    display: flex;
    flex-direction: column;
    padding-left: 56px;
    padding-right: 56px;
    border-top: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding-top: 1rem;
    height: 6rem;

    &--section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 12px;

        &---center {
            display:flex;
            justify-content: center;
        }
    }

    &--contents {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    &--text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #B6B6B6;
        &:hover {
            color: #404040;
        }

    }
  }

  &-button {
    background: $emGreen;
    border: 0;
    box-sizing: border-box;
    border-radius: 1px;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 5px;

    width: 80px;
    min-height: 1.75rem;

    &:hover,
    &:focus,
    &:active {
      background: #D7D7D7;
    }
  }

  &-error {
    margin-top: .5rem;
    font-size: 14px;
    line-height: 17px;
    color: #D8000C;
  }

  &-select {
    background: #ffffff;
    border: 1px solid #c4c4c4;

    box-sizing: border-box;
    border-radius: 1px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;

    color: #b6b6b6;
    position: relative;

    &:not(:first-child) {
      //margin-top: .5rem;
    }

    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &--column {
        display: flex;
        flex-direction: column;
        // padding-right: 40px;
    }
    &--columnWide {
        display: flex;
        flex-direction: column;
       padding-right: 20px;
       width: 260px;
    }
  }

  &-dropdown {
    &-placeholder {
      height: 100%;
      font-size: 14px;
      line-height: 17px;
      margin-left: .25rem;
      display: flex;
      align-items: center;

      color: #b6b6b6;

      background: transparent;

      &.college-wrapper,
      &.major-wrapper,
      &.minor-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
      }

      &.college-wrapper,
      &.major-wrapper,
      &.minor-wrapper {
        width: 100%;
        height: 100%;
      }

      &.college-placeholder,
      &.major-placeholder,
      &.minor-placeholder {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
      }

      &.college-arrow,
      &.major-arrow,
      &.minor-arrow {
        border-left: 6.24px solid transparent;
        border-right: 6.24px solid transparent;

        border-top: 6.24px solid #c4c4c4;
        background: transparent;

        //when clicked border-top-color: #32A0F2;

        margin-top: 30px;
        margin-bottom: 10.17px;

        margin-right: 8.7px;
        margin-left: 5px;
      }
    }
  }

  &-dropdown-content {
    z-index: 2;
    position: absolute;
    width: inherit;
    background: #ffffff;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    max-height:150px; 
    overflow:auto; 

    margin-top: 3px;

    &-item {
      height: 2.25rem;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;

      color: #757575;

      padding-left: 10px;
    }
  }

  &-dropdown-content div:hover {
    background: rgba(50, 160, 242, 0.15);
    width: 100%;
  }

  &--hidden {
    display: none;
  }
}

.editing {
  padding-top: 0;
}

select option {
  color: black;
}
select option:first-child {
  color: grey;
}
select.empty {
  color: grey;
}
/* Hidden placeholder */
select option[disabled]:first-child {
  display: none;
}
.timeline {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20 px;
}