@import '@/assets/scss/_variables.scss';

.multiplePlansModal-dropdown {
  &-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;

    color: $darkPlaceholderGray;

    background: transparent;

    &.wrapper {
      position: relative;
      height: 2rem;
      border-radius: 2px;
      border: 1px solid $darkPlaceholderGray;
      cursor: pointer;
    }

    &.plan {
      width: 100%;
      padding-left: 10px;
    }

    &.down-arrow {
      position: relative;
      right: 7%;
      width: 6.24px;
      height: 6.24px;
      border-left: 6.24px solid transparent;
      border-right: 6.24px solid transparent;
      border-top: 6.24px solid $darkPlaceholderGray;
    }

    &.up-arrow {
      position: relative;
      right: 7%;
      width: 6.24px;
      height: 6.24px;
      border-left: 6.24px solid transparent;
      border-right: 6.24px solid transparent;
      border-top: 6.24px solid $darkPlaceholderGray;
      transform: rotate(180deg);
    }
  }

  &-content {
    width: 100%;
    z-index: 100;
    max-height: 8rem;
    border-radius: 2px;
    &.item {
      border: 1px solid $darkPlaceholderGray;
      z-index: 150;
      background-color: white;
      height: 2rem;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: $darkPlaceholderGray;
      padding-left: 10px;
    }
    &.item:hover {
      background-color: $searchBoxHoverGray;
      opacity: 1;
      cursor: pointer;
    }
  }
}
