<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring 2026 Pre-Enroll Email Preview</title>
  </head>
  <body style="margin: 0; padding: 0">
    <div
      style="
        font-family: Proxima Nova, sans-serif;
        margin: 0 auto;
        background-color: #f7f7f7;
        font-size: 16px;
      "
    >
      <div style="text-align: center; padding: 40px 0px">
        <img
          src="https://i.postimg.cc/sgwMrtHT/Group-514.png"
          alt="Cornell CoursePlan Logo"
          style="height: 50px; width: 172px"
        />
      </div>
      <div
        style="
          background-color: #ffffff;
          border-radius: 10px;
          padding: 40px 48px;
          margin-bottom: 20px;
          max-width: 600px;
          margin: 0 auto;
        "
      >
        <div style="padding: 20px; margin-bottom: 10px">
          <p style="margin: 0; font-size: 16px">
            <strong>HEY COURSEPLAN USER,</strong>
          </p>
          <p
            style="
              line-height: 1.5;
              font-size: 24px;
              margin-top: 20px;
              margin-bottom: 0px;
              text-align: center;
            "
          >
            <span style="display: inline-block; margin-right: 8px">❄️</span>
            <span style="color: #1aa9a5; font-weight: bold">Spring 2026</span>
            <span style="display: inline-block; margin-left: 8px">❄️</span>
          </p>
          <h2
            style="
              font-size: 32px;
              margin: 0;
              font-weight: bold;
              text-align: center;
            "
          >
            PRE-ENROLL IS HERE
          </h2>
          <p style="line-height: 1.5; font-size: 16px">
            Spring 2026 pre-enroll is right around the corner — and we know
            you’d rather not be stressing in the Ithaca cold ❄️🥶. Skip the
            last-minute scramble and plan your perfect schedule with CoursePlan,
            Cornell’s go-to tool for making class planning a breeze 💆‍♀️📚
          </p>
        </div>

        <div style="border-radius: 8px; padding: 20px; margin-bottom: 30px">
          <p style="margin: 0 0 2px 0; font-size: 16px">
            <strong>General Timeslot Information ⏰</strong>
          </p>
          <ul style="margin: 0; padding-left: 25px; line-height: 1.5">
            <li>Seniors: November 12th</li>
            <li>Juniors: November 17th</li>
            <li>Sophomores: November 18th</li>
            <li>Freshmen: November 19th</li>
          </ul>
        </div>

        <h2
          style="
            color: #1aa9a5;
            font-size: medium;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-bottom: 0px;
          "
        >
          INTRODUCING
        </h2>
        <h3
          style="
            font-size: 32px;
            text-align: center;
            margin: 5px 0;
            font-weight: bold;
          "
        >
          BLANK COURSE CARDS
        </h3>

        <div style="padding: 20px; margin-bottom: 30px">
          <p style="line-height: 1.5; font-size: 16px; margin-bottom: 20px">
            Keeping track of transfer or study abroad credits just got easier!
            <span style="display: inline-block">🌍✨</span> CoursePlan now lets
            you <strong>add Blank Course Cards</strong> customizing your plan
            when official course info isn’t available yet.
          </p>
          <p style="font-size: 16px; margin-bottom: 10px">Use them to:</p>
          <div style="margin: 2px">
            <div>
              <span style="display: inline-block">✅</span>
              Add placeholder courses for transfer or study abroad credits
            </div>
            <div>
              <span style="display: inline-block">✅</span>
              Customize courses to meet certain requirements and make your
              planning that much easier
            </div>
            <div>
              <span style="display: inline-block">✅</span>
              Track degree progress without juggling spreadsheets
            </div>
            <div>
              <span style="display: inline-block">✅</span>
              Keep everything organized before credits officially transfer
            </div>
            <div>
              No more guessing with messy Excel sheets — build your full
              schedule your way with Blank Course Cards!
              <span style="display: inline-block">💪📚</span>
            </div>
          </div>
        </div>

        <div style="margin-bottom: 30px">
          <h4 style="font-size: 18px; margin-bottom: 15px; font-weight: bold">
            Add a Blank Course Card in seconds
            <span style="display: inline-block">🗒️</span>
          </h4>
          <p style="line-height: 1.5; font-size: 16px; margin-bottom: 15px">
            Click "Add Blank Course Card" when adding a course to create a
            custom placeholder for a class!
          </p>
          <div style="text-align: center; margin-bottom: 20px">
            <img
              src="https://i.postimg.cc/W1CVs6rC/Add-Course.png"
              alt="Add Blank Course Card Button"
              style="width: 100%; max-width: 500px; height: auto"
            />
          </div>
        </div>

        <div style="margin-bottom: 30px">
          <h4 style="font-size: 18px; margin-bottom: 15px; font-weight: bold">
            Customize Your Course
            <span style="display: inline-block">🎨</span>
          </h4>
          <p style="line-height: 1.5; font-size: 16px; margin-bottom: 15px">
            Edit the card to include course details like title, credits,
            department, or notes. You can even mark it as a transfer or abroad
            course to keep things organized.
            <span style="display: inline-block">✏️</span>
          </p>
          <div style="text-align: center; margin-bottom: 20px">
            <img
              src="https://i.postimg.cc/nVRP8VqB/Filled-In-State.png"
              alt="Customize Blank Course Card"
              style="width: 100%; max-width: 500px; height: auto"
            />
          </div>
        </div>

        <div style="margin-bottom: 30px">
          <h4 style="font-size: 18px; margin-bottom: 15px; font-weight: bold">
            Set Distribution Requirements
            <span style="display: inline-block">✅</span>
          </h4>
          <ul style="margin: 0 0 15px 0; padding-left: 20px; line-height: 1.5">
            <li>
              Select a Cornell Equivalent Course if one matches your transfer or
              study abroad class.
            </li>

            <li>
              No exact match? No problem. Just add requirements manually to see
              how your custom course fulfills your college, major, or elective
              requirements!
            </li>
          </ul>
          <div style="text-align: center; margin-bottom: 20px">
            <img
              src="https://i.postimg.cc/6p0H0969/Distribution-Requirements.png"
              alt="Distribution Requirements"
              style="width: 100%; max-width: 500px; height: auto"
            />
          </div>
        </div>

        <div style="margin-bottom: 30px">
          <h4 style="font-size: 18px; margin-bottom: 15px; font-weight: bold">
            Review and Confirm
            <span style="display: inline-block">👀</span>
          </h4>
          <p style="line-height: 1.5; font-size: 16px; margin-bottom: 15px">
            Before adding your Blank Course Card, double-check that everything
            looks good! Here you’ll see how your custom or transfer course
            applies to your degree — including any requirements it fulfills
            automatically.
          </p>
          <div style="text-align: center; margin-bottom: 20px">
            <img
              src="https://i.postimg.cc/yNGyQxMC/Confirmation-Image.png"
              alt="Review Course Card"
              style="width: 100%; max-width: 500px; height: auto"
            />
          </div>
        </div>

        <p style="line-height: 1.5; font-size: 16px; margin-bottom: 20px">
          We're always taking notes
          <span style="display: inline-block">📝</span>
          on how to improve CoursePlan for you! Got feedback? Questions?
          Suggestions? Hit us up at
          <a
            href="mailto:courseplan.io@gmail.com"
            style="color: #1aa9a5; text-decoration: underline"
            target="_blank"
            >courseplan.io@gmail.com</a
          >.
        </p>

        <p style="line-height: 1.5; font-size: 16px; margin-bottom: 20px">
          We're also working on some exciting updates, so follow us on
          <a
            href="https://www.instagram.com/courseplan.io/"
            style="color: #1aa9a5; text-decoration: underline"
            target="_blank"
            >Instagram</a
          >
          for the latest! Expect to hear from us every so often — right in your
          inbox.
        </p>

        <div style="line-height: 1.5; font-size: 16px">
          See you soon,<br />
          Your friends at CoursePlan DTI
          <span style="display: inline-block">❤️</span>
        </div>

        <img
          src="https://i.postimg.cc/kXyFrTrr/Courseplan-Logo.png"
          alt="Cornell CoursePlan Icon"
          style="height: 32px; margin-top: 30px"
        />

        <p style="line-height: 1.5; margin-top: 37.5px; font-size: 16px">
          Not a user yet?
          <a
            href="https://courseplan.io"
            target="_blank"
            style="color: #1aa9a5; text-decoration: underline"
            >Get started here</a
          ><br />
          Don't want to graduate?
          <a
            href="https://courseplan.io"
            target="_blank"
            style="color: #1aa9a5; text-decoration: underline"
            >Unsubscribe</a
          >
        </p>
      </div>
    </div>

    <div
      style="
        background-color: #105351;
        color: white;
        padding: 15px 35px;
        font-size: 16px;
        font-family: Proxima Nova, sans-serif;
      "
    >
      <div style="display: flex; margin: 0 auto">
        <p style="margin-left: 0; margin-right: auto">
          Schedule Smarter. Plan Ahead.
        </p>
        <p style="margin-left: auto; margin-right: 0">
          <a
            href="https://www.instagram.com/courseplan.io/"
            style="color: #ffffff; text-decoration: underline"
            >Instagram</a
          >
          <span style="margin: 0 5px">•</span>
          <a
            href="https://courseplan.io"
            style="color: #ffffff; text-decoration: underline"
            >Courseplan</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
