[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
langchain = "*"
openai = "*"
numpy = "*"
parsy = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.11"