name: CI Build
on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Install
        run: npm install
      - name: Build
        run: npm run build:staging
      - uses: FirebaseExtended/action-hosting-deploy@v0
        if: env.SECRET != null
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_CORNELLDTI_COURSEPLAN_DEV }}'
          projectId: cornelldti-courseplan-dev
          expires: 30d
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
          SECRET: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CORNELLDTI_COURSEPLAN_DEV }}
