name: CI Check
on: 
  push:
  pull_request:
    types: [opened]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Clean Install
        run: npm ci
      - name: Run Prettier Check
        run: npm run format:check
      - name: Run Linter
        run: npm run lint
      - name: Run Type Check
        run: npm run type-check
      - name: Run Unit Tests
        run: npm run test
  frontend-tests:
    runs-on: ubuntu-latest
    concurrency: cypress-tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Clean Install
        run: npm ci
      - name: Cypress Test
        run: npm run cypress:e2e
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CORNELLDTI_COURSEPLAN_DEV }}
      - name: Upload recordings if tests fail
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: recorded-videos
          path: cypress/videos/
