name: CI Check
on:
  push:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Clean Install
        run: npm ci
      - name: Run Prettier Check
        run: npm run format:check
      - name: Run Linter
        run: npm run lint
      - name: Run Type Check
        run: npm run type-check
      - name: Run Unit Tests
        run: npm run test
  frontend-tests:
    runs-on: ubuntu-latest
    concurrency: cypress-tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Clean Install
        run: npm ci
      - name: Cypress Test
        run: npm run cypress:e2e
        env:
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CORNELLDTI_COURSEPLAN_DEV }}
      - name: Upload recordings if tests fail
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: recorded-videos
          path: cypress/videos/
  python-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install pip
        run: |
          export RUN_LANGCHAIN_TESTS=false
          python -m pip install --upgrade pip setuptools wheel
      - name: Install pipenv, black, and pytest
        run: |
          pip install pipenv
      - name: Pipenv Install
        working-directory: python
        run: pipenv install
      - name: Check that pipenv is up to date
        run: |
          exit $(git status --porcelain | wc -l)
      - name: Run black linting
        working-directory: python
        run: pipenv run black . --check
      - name: Run black and tests
        working-directory: python
        run: pipenv run pytest
