name: Track User Analytics
on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  track-users:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: 'npm'
      - name: NPM Clean Install
        run: npm ci
      - name: Run TrackUsers Script
        run: npm run track-users
        env:
          PROD: true
          SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CORNELLDTI_COURSEPLAN_PROD }}
